 /* .rotate{
  height: 100px;
  width: 100px;
  background-color: blue;
} */
#board {
  display: flex;
  width: fit-content;
  padding: 1vw;
  background-color: #64BED3;
  margin: 0 auto;
  position: relative;
}
body #clicker{
 display: flex;
 width: fit-content;
 padding: 3vw;
 padding-bottom: 0;
 margin: 0 auto;
}
body #clicker .click{
  margin: .5vw;
  border-left: 1.99vw solid transparent;
  border-right: 1.99vw solid transparent;
  border-top: 2vw solid #f00;
 }
 .row{
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #64BED3;  
}
.box {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  position: relative;
  background-color: white;
  margin: .5vw;
}
body #board .row .yellow {
  background-image: url("image/dog-yellow.png");
  background-size: cover;
  background-repeat: none;
  position: relative;
  animation: new-item-animation .3s linear forwards;
  
}
body #board .row .red {
  background-image: url("image/catred.png");
  background-size: cover;
  background-repeat: none;
  position: relative;
  animation: new-item-animation .3s linear forwards;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-60vw);
 
  }
  to {
    opacity: 1;
    transform: translateY(0);
    
  
  }
}


