@import "variables.scss";
body{
    margin: unset;
    font-family: $body-font;
    background-image: url("image/background.jpeg");
        background-repeat: repeat-x;
        background-position: center;
        background-size: cover;
  
    h1{
        margin: unset;
        font-size: 2vw;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include bp-large{
            font-size: 3.5vw;
        }
        @include bp-small{
            font-size: 5vw;
        }
    }
    h3{
        margin: unset;
        font-size: 1.5vw;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include bp-large{
            font-size: 2.5vw;
        }
        @include bp-small{
            font-size: 3.5vw;
        }
    }
    p{
        margin: unset;
        font-size: 1vw;
        font-weight: 700;
    }
    nav{
        background: rgba(255, 255, 255, 0.9);
        padding: 20px 0;
        text-align: center;
        .title{
            grid-column: 2/3;
            h1{
               color: $blue;
               text-shadow: unset;
            }
        }
    }
    .header{
        display: flex;
        justify-content: center;
        img{
            height: 20vw;
            @include bp-large{
                height: 30vw;
            }
            @include bp-small{
                height: 35vw;
            }
        }
    }
    .turn{
        place-self: center;
        @include bp-small{
            grid-row-start: 3;
            grid-row-end: 4;
            width: 60%;
        }
       
        h1{
            padding-bottom: 30px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-around;
            @include bp-small{
                padding-bottom: 20px;
                font-size: 7vw;
            }
            
            #players-turn{
                height: 3vw;
                border-radius: 50%;
                @include bp-small{
                    height: 10vw;
                    width: 10vw;
                    animation: pulse 1s linear infinite;
                }
            }
        
        }
        button{
            font-family: $body-font;
            font-size: 1vw;
            width: 15.5vw;
            color: $red;
            font-size: 1.5vw;
            border: unset;
            padding: 7px;
            font-weight: 600;
            border-radius: 40px;
            background-color: $white;
            &:hover{
                background-color: $red;
                color: $white;
            }
            @include bp-small{
                font-size: 3.5vw;
                width: 45vw;
            }
        }
    }
    .board{
        padding-bottom: 40px;
        @include bp-large{
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: 3;
        }
        @include bp-small{
            grid-row-start: 2;
            grid-row-end: 3;
            padding-bottom: 20px;
           
        }
    }
    .main{
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        @include bp-large{
            grid-template-rows: 1fr .1fr;
            grid-template-columns: 1fr 1fr;
        }
        @include bp-small{
            grid-template-columns: 1fr;
            grid-template-rows: .1fr 1fr .1fr;
        }
    }
    #clicker{
        display: flex;
        width: fit-content;
        padding-bottom: 0;
         margin: 0 auto;
         @include bp-small{
             padding-bottom: 10px;
         }
         .click{
            margin: .5vw;
            border-left: 2.49vw solid transparent;
            border-right: 2.49vw solid transparent;
            border-top: 3vw solid $red;
            cursor: pointer;
            @include bp-large{
                border-left: 3.99vw solid transparent;
                border-right: 3.99vw solid transparent;
                border-top: 4vw solid $red;

            }
            @include bp-small{
                border-left: 5.45vw solid transparent;
                border-right: 5.45vw solid transparent;
                border-top: 5vw solid $red;

            }
         }
    }
    #board{
        display: flex;
        width: fit-content;
        padding: 1vw;
        background-color: $purple;
        margin: 0 auto;
        position: relative;
    
        .row{
            width: fit-content;
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: $purple;  
          }
          .box {
            height: 5vw;
            width: 5vw;
            border-radius: 50%;
            position: relative;
            background-color: $white;
            margin: .5vw;
            @include bp-large{
                height: 8vw;
                width: 8vw;
            }
            @include bp-small{
                height: 11vw;
                width: 11vw;

            }
          }
          .yellow {
            background-image: url("image/dog-yellow.png");
            background-size: cover;
            background-repeat: none;
            position: relative;
            animation: new-item-animation .3s linear forwards;
            
          }
          .red {
            background-image: url("image/catred.png");
            background-size: cover;
            background-repeat: none;
            position: relative;
            animation: new-item-animation .3s linear forwards;
          }
        
    }
    .total{
        place-self: center;
        display: flex;
        flex-direction:column;
        @include bp-small{
            width: 85%;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .scoreboard{
            padding-bottom: 30px;
            @include bp-small{
                display: none;
            }
        }
        .players{
            @include bp-small{
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
            }
            .player1, .player2{
                @include bp-small{
                    width: 45%;
                }
                h1{
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                img{
                    height: 3vw;
                    border-radius: 50%;
                    @include bp-small{
                        height: 10vw;
                        width: 10vw;
                    }
                }

                }
            }
        }
    }
    #reset{
        cursor: pointer;
        @include bp-small{
            width: 100%;
        }
    }
    .game-rules{
        background: rgba(255, 255, 255, 0.9);
        width: 90%;
        margin: 0 auto;
        .intro{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @include bp-small{
                margin-top: 30px;
            }
            .game-header{
                h1{
                    color: $blue;
                    padding: 40px 40px;
                    text-shadow: unset;
                    @include bp-small{
                        padding: 20px 20px;
                    }
                }
            }
            .plus{
                padding: 40px 40px;
                @include bp-small{
                    padding: 20px 20px;
                }
                .bar{
                    width: 60px;
                    height: 14px;
                    background-color: $green;
                    @include bp-small{
                        width: 40px;
                        height: 8px;
                    }
                }
                .one{
                    transform: rotate(90deg);
                    
                }
                .two{
                    transform: translate(0px, -14px);      
                    @include bp-small{
                        transform: translate(0px, -8px);    
                    }
                    transition: transform 2s;
                }
                .one-transform{
                    transform: rotate(130deg);
                    transition: transform 2s;
                }
                .two-transform{
                    transform: translate(0px, -14px) rotate(45deg);
                    @include bp-small{
                        transform: translate(0px, -8px) rotate(45deg);
                    }
                    transition: transform 2s;
                }

            }
        }
        .game-instructions{
            height: 0;
            opacity: 0;
            transition: height 2s , opacity 2s;
        }
        .show{
            height: 200px;
            opacity: 1;
            background-color: pink;
            transition: height 2s, opacity 2s;
        }
    }
}
@keyframes new-item-animation {
    from {
      opacity: 0;
      transform: translateY(-60vw);
   
    }
    to {
      opacity: 1;
      transform: translateY(0);
      
    
    }
  }
  @keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
       -webkit-transform: scale(0.8);
       transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
       transform: scale(1);
    }
    }
  