@import "variables.scss";
body{
    margin: unset;
    font-family: $body-font;
    background-image: url("image/background.jpeg");
        background-repeat: repeat-x;
        background-position: center;
        background-size: cover;
  
    h1{
        margin: unset;
        font-size: 2vw;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include bp-large{
            font-size: 3.5vw;
        }
        @include bp-small{
            font-size: 5vw;
        }
    }
    h3{
        margin: unset;
        font-size: 1.8vw;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include bp-large{
            font-size: 3vw;
        }
        @include bp-small{
            font-size: 5vw;
        }
    }
    p{
        margin: unset;
    }
    .heading{
        font-weight: 700;
        padding: 1rem 0;
    }
    nav{
        background: rgba(255, 255, 255, 0.9);
        padding: 20px 0;
        text-align: center;
        .title{
            grid-column: 2/3;
            h1{
               color: $blue;
               text-shadow: unset;
            }
        }
    }
    .header{
        display: flex;
        justify-content: center;
        img{
            height: 20vw;
            @include bp-large{
                height: 30vw;
            }
            @include bp-small{
                height: 35vw;
            }
        }
    }
    .turn{
        width: 80%;
        padding-top: 60%;
        @include bp-large{
            padding-top: unset;
            width: 65%;
        }
        @include bp-small{
            grid-row-start: 3;
            grid-row-end: 4;
            width: 65%;
        }
       
        #update-turn{
            padding-bottom: 30px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-around;
            @include bp-large{
                align-items: flex-start;
               
            }
            @include bp-small{
                padding-bottom: 20px;
                font-size: 7vw;
                align-items: center;
            }
            
            #players-turn{
                height: 5vw;
                width: 5vw;
                animation: pulse 1s linear infinite;
                border-radius: 50%;
                @include bp-large{
                    height: 8vw;
                    width: 8vw;
                }

                @include bp-small{
                    height: 15vw;
                    width: 15vw;
                }
            }
            .win{
                border:20px solid $green;
                animation: borderChange 1s linear 3;
                @include bp-large{
                    border-width: 10px;
                }
                @include bp-small{
                    border-width: 5px;
                }
            }
        
        }
        button{
            font-family: $body-font;
            font-size: 1vw;
            width: 100%;
            color: $red;
            font-size: 1.5vw;
            border: unset;
            padding: 20px;
            font-weight: 600;
            border-radius: 40px;
            background-color: $white;
            &:hover{
                background-color: $red;
                color: $white;
            }
            @include bp-large{
                font-size: 3vw;
                padding: 15px;
            }
            @include bp-small{
                font-size: 3.5vw;
                width: 45vw;
            }
        }
    }
    .board{
        padding-bottom: 40px;
        @include bp-large{
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: 3;
        }
        @include bp-small{
            grid-row-start: 2;
            grid-row-end: 3;
            padding-bottom: 20px;
           
        }
    }
    .main{
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        justify-items: center;
        @include bp-large{
            grid-template-rows: 1fr .1fr;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 40px;
        }
        @include bp-small{
            grid-template-columns: 1fr;
            grid-template-rows: .1fr 1fr .1fr;
            padding-bottom: unset;
        }
    }
    #clicker{
        display: flex;
        width: fit-content;
        padding-bottom: 0;
         margin: 0 auto;
         @include bp-small{
             padding-bottom: 10px;
         }
         .click{
            margin: .5vw;
            border-left: 2.49vw solid transparent;
            border-right: 2.49vw solid transparent;
            border-top: 3vw solid $red;
            cursor: pointer;
            @include bp-large{
                border-left: 3.99vw solid transparent;
                border-right: 3.99vw solid transparent;
                border-top: 4vw solid $red;

            }
            @include bp-small{
                border-left: 5.45vw solid transparent;
                border-right: 5.45vw solid transparent;
                border-top: 5vw solid $red;

            }
         }
    }
    #board{
        display: flex;
        width: fit-content;
        padding: 1vw;
        background-color: $purple;
        margin: 0 auto;
        position: relative;
    
        .row{
            width: fit-content;
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: $purple;  
          }
          .box {
            height: 5vw;
            width: 5vw;
            border-radius: 50%;
            position: relative;
            background-color: $white;
            margin: .5vw;
            @include bp-large{
                height: 8vw;
                width: 8vw;
            }
            @include bp-small{
                height: 11vw;
                width: 11vw;

            }
          }
          .yellow {
            background-image: url("image/dog-yellow.png");
            background-size: cover;
            background-repeat: none;
            position: relative;
            animation: new-item-animation .3s linear forwards;
            
          }
          .red {
            background-image: url("image/catred.png");
            background-size: cover;
            background-repeat: none;
            position: relative;
            animation: new-item-animation .3s linear forwards;
          }
        
    }
    .total{
        padding-top: 60%;
        display: flex;
        flex-direction:column;
        @include bp-large{
            padding-top: unset;
        }
        @include bp-small{
            width: 85%;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .scoreboard{
            padding-bottom: 35px;
            @include bp-small{
                display: none;
            }
        }
        .players{
            @include bp-small{
                display: flex;
                justify-content: space-between;
                padding-bottom: 5px;
            }
            .player1, .player2{
                padding-bottom: 10px;
                @include bp-small{
                    width: 45%;
                }
                h3{
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                img{
                    height: 3vw;
                    width: 3vw;
                    border-radius: 50%;
                    @include bp-large{
                        height: 4vw;
                        width: 4vw;
                    }
                    @include bp-small{
                        height: 10vw;
                        width: 10vw;
                    }
                }

                }
            }
        }
    }
    #reset{
        cursor: pointer;
        @include bp-small{
            width: 100%;
        }
    }
    .game-rules{
        background: rgba(255, 255, 255, 0.9);
        width: 90%;
        margin: 0 auto;
        .intro{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            @include bp-small{
                margin-top: 30px;
            }
            .game-header{
                h3{
                    color: $blue;
                    padding: 40px;
                    text-shadow: unset;
                    @include bp-large{
                        padding: 20px;
                    }
                }
            }
            .plus{
                padding: 40px;
                @include bp-small{
                    padding: 20px;
                }
                .bar{
                    width: 40px;
                    height: 14px;
                    background-color: $green;
                    
                    @include bp-small{
                        width: 20px;
                        height: 8px;
                    }
                }
                .one{
                    transform: rotate(90deg);
                    
                }
                .two{
                    transform: translate(0px, -14px);      
                    @include bp-small{
                        transform: translate(0px, -8px);    
                    }
                    transition: transform .5s;
                }
                .one-transform{
                    transform: rotate(130deg);
                    transition: transform .5s;
                }
                .two-transform{
                    transform: translate(0px, -14px) rotate(45deg);
                    @include bp-small{
                        transform: translate(0px, -8px) rotate(45deg);
                    }
                    transition: transform .5s;
                }

            }
        }
        .game-instructions{
            height: 0;
            opacity: 0;
            transition: height .5s , opacity .5s;
            p{
                display: none;
            }
            ul{
                display: none;
            }
           
        }
        .show{
            margin-bottom: 40px;
            p{
                display: unset;
            }
            ul{
                display: unset;
            }
            height: 250px;
            padding: 0 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 1;
            background-color: $white;
            opacity: .5;
            transition: height .5s, opacity .5s;
            @include bp-medium{
                height: 300px;
            }
            @include bp-small{
                height: 450px;
            }

            ul{
                padding: 1rem;
                margin: unset;
                padding-top: unset;
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    .social{
        display: flex;
        justify-content: center;
        a{
            svg{
            padding: 20px;
            height: 50px;
            width: 50px;   
            @include bp-small{
                padding: 5px;
                height: 30px; 
                width: 30px;
            }
            &:hover, &:focus, &:active{
                path{
                    transition: fill .5s;
                    fill: $green;
                }
            }
        }

        }
            
     }
}

@keyframes new-item-animation {
    from {
      opacity: 0;
      transform: translateY(-60vw);
   
    }
    to {
      opacity: 1;
      transform: translateY(0);
      
    
    }
  }
  @keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        border-color: $green;
    }
    50% {
       -webkit-transform: scale(0.8);
       transform: scale(0.8);
       border-color:$yellow;
    }
    100% {
        -webkit-transform: scale(1);
       transform: scale(1);
       border-color: $green;
    }
    }
   