@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;500;700;900&family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;600;700;900&display=swap");
body {
  margin: unset;
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url("image/background.jpeg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
}
body h1 {
  margin: unset;
  font-size: 2vw;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 568px) {
  body h1 {
    font-size: 5vw;
  }
}
body h3 {
  margin: unset;
  font-size: 1.5vw;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 568px) {
  body h3 {
    font-size: 3.5vw;
  }
}
body p {
  margin: unset;
  font-size: 1vw;
  font-weight: 700;
}
body nav {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  text-align: center;
}
body nav .title {
  grid-column: 2/3;
}
body nav .title h1 {
  color: #0196D6;
  text-shadow: unset;
}
body .header {
  display: flex;
  justify-content: center;
}
body .header img {
  height: 15vw;
}
@media only screen and (max-width: 568px) {
  body .header img {
    height: 33vw;
  }
}
body .turn {
  place-self: center;
}
@media only screen and (max-width: 568px) {
  body .turn {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
body .turn h1 #players-turn {
  height: 3vw;
  border-radius: 50%;
}
@media only screen and (max-width: 568px) {
  body .turn h1 #players-turn {
    height: 6vw;
  }
}
body .turn button {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1vw;
}
@media only screen and (max-width: 568px) {
  body .turn button {
    font-size: 3vw;
  }
}
body .board {
  padding-bottom: 40px;
}
@media only screen and (max-width: 568px) {
  body .board {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 20px;
  }
}
body .main {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}
@media only screen and (max-width: 568px) {
  body .main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr, 1fr, 0.1fr;
  }
}
body #clicker {
  display: flex;
  width: fit-content;
  padding-bottom: 0;
  margin: 0 auto;
}
body #clicker .click {
  margin: 0.5vw;
  border-left: 2.49vw solid transparent;
  border-right: 2.49vw solid transparent;
  border-top: 2vw solid #EE3B33;
  cursor: pointer;
}
@media only screen and (max-width: 568px) {
  body #clicker .click {
    border-left: 5.45vw solid transparent;
    border-right: 5.45vw solid transparent;
    border-top: 4vw solid #EE3B33;
  }
}
body #board {
  display: flex;
  width: fit-content;
  padding: 1vw;
  background-color: #68599D;
  margin: 0 auto;
  position: relative;
}
body #board .row {
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #68599D;
}
body #board .box {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  position: relative;
  background-color: white;
  margin: 0.5vw;
}
@media only screen and (max-width: 568px) {
  body #board .box {
    height: 11vw;
    width: 11vw;
  }
}
body #board .yellow {
  background-image: url("image/dog-yellow.png");
  background-size: cover;
  background-repeat: none;
  position: relative;
  animation: new-item-animation 0.3s linear forwards;
}
body #board .red {
  background-image: url("image/catred.png");
  background-size: cover;
  background-repeat: none;
  position: relative;
  animation: new-item-animation 0.3s linear forwards;
}
body .total {
  place-self: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 568px) {
  body .total {
    width: 85%;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
body .total .scoreboard {
  padding-bottom: 30px;
}
@media only screen and (max-width: 568px) {
  body .total .scoreboard {
    display: none;
  }
}
@media only screen and (max-width: 568px) {
  body .total .players {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 568px) {
  body .total .players .player1, body .total .players .player2 {
    width: 40%;
  }
}
body .total .players .player1 h1, body .total .players .player2 h1 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
body .total .players .player1 h1 img, body .total .players .player2 h1 img {
  height: 3vw;
  border-radius: 50%;
}
@media only screen and (max-width: 568px) {
  body .total .players .player1 h1 img, body .total .players .player2 h1 img {
    height: 10vw;
    width: 10vw;
  }
}
body #reset {
  cursor: pointer;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-60vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=styles.css.map */
