@import "variables.scss";
body{
    margin: unset;
    font-family: $body-font;
    background-image: url("image/background.jpeg");
        background-repeat: repeat-x;
        background-position: center;
        background-size: contain;
  
    h1{
        margin: unset;
        font-size: 2vw;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include bp-small{
            font-size: 5vw;
        }
    }
    h3{
        margin: unset;
        font-size: 1.5vw;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include bp-small{
            font-size: 3.5vw;
        }
    }
    p{
        margin: unset;
        font-size: 1vw;
        font-weight: 700;
    }
    nav{
        background: rgba(255, 255, 255, 0.9);
        padding: 20px 0;
        text-align: center;
        .title{
            grid-column: 2/3;
            h1{
               color: $blue;
               text-shadow: unset;
            }
        }
    }
    .header{
        display: flex;
        justify-content: center;
        img{
            height: 15vw;
            @include bp-small{
                height: 33vw;
            }
        }
    }
    .turn{
        place-self: center;
        @include bp-small{
            grid-row-start: 3;
            grid-row-end: 4;
        }
       
        h1{
            #players-turn{
                height: 3vw;
                border-radius: 50%;
                @include bp-small{
                    height: 6vw;
                }
            }
        }
        button{
            font-family: $body-font;
            font-size: 1vw;
            @include bp-small{
                font-size: 3vw;
            }
        }
    }
    .board{
        padding-bottom: 40px;
        @include bp-small{
            grid-row-start: 2;
            grid-row-end: 3;
            padding-bottom: 20px;
           
        }
    }
    .main{
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        @include bp-small{
            grid-template-columns: 1fr;
            grid-template-rows: .1fr, 1fr, .1fr;
        }
    }
    #clicker{
        display: flex;
        width: fit-content;
        padding-bottom: 0;
         margin: 0 auto;
         .click{
            margin: .5vw;
            border-left: 2.49vw solid transparent;
            border-right: 2.49vw solid transparent;
            border-top: 2vw solid $red;
            cursor: pointer;
            @include bp-small{
                border-left: 5.45vw solid transparent;
                border-right: 5.45vw solid transparent;
                border-top: 4vw solid $red;

            }
         }
    }
    #board{
        display: flex;
        width: fit-content;
        padding: 1vw;
        background-color: $purple;
        margin: 0 auto;
        position: relative;
    
        .row{
            width: fit-content;
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: $purple;  
          }
          .box {
            height: 5vw;
            width: 5vw;
            border-radius: 50%;
            position: relative;
            background-color: $white;
            margin: .5vw;
            @include bp-small{
                height: 11vw;
                width: 11vw;

            }
          }
          .yellow {
            background-image: url("image/dog-yellow.png");
            background-size: cover;
            background-repeat: none;
            position: relative;
            animation: new-item-animation .3s linear forwards;
            
          }
          .red {
            background-image: url("image/catred.png");
            background-size: cover;
            background-repeat: none;
            position: relative;
            animation: new-item-animation .3s linear forwards;
          }
        
    }
    .total{
        place-self: center;
        display: flex;
        flex-direction:column;
        @include bp-small{
            width: 85%;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .scoreboard{
            padding-bottom: 30px;
            @include bp-small{
                display: none;
            }
        }
        .players{
            @include bp-small{
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
            }
            .player1, .player2{
                @include bp-small{
                    width: 40%;
                }
                h1{
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                img{
                    height: 3vw;
                    border-radius: 50%;
                    @include bp-small{
                        height: 10vw;
                        width: 10vw;
                    }
                }

                }
            }
        }
    }
    #reset{
        cursor: pointer;
    }
}
@keyframes new-item-animation {
    from {
      opacity: 0;
      transform: translateY(-60vw);
   
    }
    to {
      opacity: 1;
      transform: translateY(0);
      
    
    }
  }
  
  