@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;500;700;900&family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;600;700;900&display=swap");
body {
  margin: unset;
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url("image/background.jpeg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}
body h1 {
  margin: unset;
  font-size: 2vw;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1024px) {
  body h1 {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 568px) {
  body h1 {
    font-size: 5vw;
  }
}
body h3 {
  margin: unset;
  font-size: 1.8vw;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1024px) {
  body h3 {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 568px) {
  body h3 {
    font-size: 5vw;
  }
}
body p {
  margin: unset;
}
body .heading {
  font-weight: 700;
  padding: 1rem 0;
}
body nav {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  text-align: center;
}
body nav .title {
  grid-column: 2/3;
}
body nav .title h1 {
  color: #0196D6;
  text-shadow: unset;
}
body .header {
  display: flex;
  justify-content: center;
}
body .header img {
  height: 20vw;
}
@media only screen and (max-width: 1024px) {
  body .header img {
    height: 30vw;
  }
}
@media only screen and (max-width: 568px) {
  body .header img {
    height: 35vw;
  }
}
body .turn {
  width: 80%;
  padding-top: 60%;
}
@media only screen and (max-width: 1024px) {
  body .turn {
    padding-top: unset;
    width: 65%;
  }
}
@media only screen and (max-width: 568px) {
  body .turn {
    grid-row-start: 3;
    grid-row-end: 4;
    width: 65%;
  }
}
body .turn #update-turn {
  padding-bottom: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 1024px) {
  body .turn #update-turn {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 568px) {
  body .turn #update-turn {
    padding-bottom: 20px;
    font-size: 7vw;
    align-items: center;
  }
}
body .turn #update-turn #players-turn {
  height: 5vw;
  width: 5vw;
  animation: pulse 1s linear infinite;
  border-radius: 50%;
}
@media only screen and (max-width: 1024px) {
  body .turn #update-turn #players-turn {
    height: 8vw;
    width: 8vw;
  }
}
@media only screen and (max-width: 568px) {
  body .turn #update-turn #players-turn {
    height: 15vw;
    width: 15vw;
  }
}
body .turn #update-turn .win {
  border: 20px solid #5EBE47;
  animation: borderChange 1s linear 3;
}
@media only screen and (max-width: 1024px) {
  body .turn #update-turn .win {
    border-width: 10px;
  }
}
@media only screen and (max-width: 568px) {
  body .turn #update-turn .win {
    border-width: 5px;
  }
}
body .turn button {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1vw;
  width: 100%;
  color: #EE3B33;
  font-size: 1.5vw;
  border: unset;
  padding: 20px;
  font-weight: 600;
  border-radius: 40px;
  background-color: white;
}
body .turn button:hover {
  background-color: #EE3B33;
  color: white;
}
@media only screen and (max-width: 1024px) {
  body .turn button {
    font-size: 3vw;
    padding: 15px;
  }
}
@media only screen and (max-width: 568px) {
  body .turn button {
    font-size: 3.5vw;
    width: 45vw;
  }
}
body .board {
  padding-bottom: 40px;
}
@media only screen and (max-width: 1024px) {
  body .board {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
  }
}
@media only screen and (max-width: 568px) {
  body .board {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 20px;
  }
}
body .main {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-items: center;
}
@media only screen and (max-width: 1024px) {
  body .main {
    grid-template-rows: 1fr 0.1fr;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 568px) {
  body .main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    padding-bottom: unset;
  }
}
body #clicker {
  display: flex;
  width: fit-content;
  padding-bottom: 0;
  margin: 0 auto;
}
@media only screen and (max-width: 568px) {
  body #clicker {
    padding-bottom: 10px;
  }
}
body #clicker .click {
  margin: 0.5vw;
  border-left: 2.49vw solid transparent;
  border-right: 2.49vw solid transparent;
  border-top: 3vw solid #EE3B33;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  body #clicker .click {
    border-left: 3.99vw solid transparent;
    border-right: 3.99vw solid transparent;
    border-top: 4vw solid #EE3B33;
  }
}
@media only screen and (max-width: 568px) {
  body #clicker .click {
    border-left: 5.45vw solid transparent;
    border-right: 5.45vw solid transparent;
    border-top: 5vw solid #EE3B33;
  }
}
body #board {
  display: flex;
  width: fit-content;
  padding: 1vw;
  background-color: #68599D;
  margin: 0 auto;
  position: relative;
}
body #board .row {
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #68599D;
}
body #board .box {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  position: relative;
  background-color: white;
  margin: 0.5vw;
}
@media only screen and (max-width: 1024px) {
  body #board .box {
    height: 8vw;
    width: 8vw;
  }
}
@media only screen and (max-width: 568px) {
  body #board .box {
    height: 11vw;
    width: 11vw;
  }
}
body #board .yellow {
  background-image: url("image/dog-yellow.png");
  background-size: cover;
  background-repeat: none;
  position: relative;
  animation: new-item-animation 0.3s linear forwards;
}
body #board .red {
  background-image: url("image/catred.png");
  background-size: cover;
  background-repeat: none;
  position: relative;
  animation: new-item-animation 0.3s linear forwards;
}
body .total {
  padding-top: 60%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  body .total {
    padding-top: unset;
  }
}
@media only screen and (max-width: 568px) {
  body .total {
    width: 85%;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
body .total .scoreboard {
  padding-bottom: 35px;
}
@media only screen and (max-width: 568px) {
  body .total .scoreboard {
    display: none;
  }
}
@media only screen and (max-width: 568px) {
  body .total .players {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }
}
body .total .players .player1, body .total .players .player2 {
  padding-bottom: 10px;
}
@media only screen and (max-width: 568px) {
  body .total .players .player1, body .total .players .player2 {
    width: 45%;
  }
}
body .total .players .player1 h3, body .total .players .player2 h3 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}
body .total .players .player1 h3 img, body .total .players .player2 h3 img {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
}
@media only screen and (max-width: 1024px) {
  body .total .players .player1 h3 img, body .total .players .player2 h3 img {
    height: 4vw;
    width: 4vw;
  }
}
@media only screen and (max-width: 568px) {
  body .total .players .player1 h3 img, body .total .players .player2 h3 img {
    height: 10vw;
    width: 10vw;
  }
}
body #reset {
  cursor: pointer;
}
@media only screen and (max-width: 568px) {
  body #reset {
    width: 100%;
  }
}
body .game-rules {
  background: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin: 0 auto;
}
body .game-rules .intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 568px) {
  body .game-rules .intro {
    margin-top: 30px;
  }
}
body .game-rules .intro .game-header h3 {
  color: #0196D6;
  padding: 40px;
  text-shadow: unset;
}
@media only screen and (max-width: 1024px) {
  body .game-rules .intro .game-header h3 {
    padding: 20px;
  }
}
body .game-rules .intro .plus {
  padding: 40px;
}
@media only screen and (max-width: 568px) {
  body .game-rules .intro .plus {
    padding: 20px;
  }
}
body .game-rules .intro .plus .bar {
  width: 40px;
  height: 14px;
  background-color: #5EBE47;
}
@media only screen and (max-width: 568px) {
  body .game-rules .intro .plus .bar {
    width: 20px;
    height: 8px;
  }
}
body .game-rules .intro .plus .one {
  transform: rotate(90deg);
}
body .game-rules .intro .plus .two {
  transform: translate(0px, -14px);
  transition: transform 0.5s;
}
@media only screen and (max-width: 568px) {
  body .game-rules .intro .plus .two {
    transform: translate(0px, -8px);
  }
}
body .game-rules .intro .plus .one-transform {
  transform: rotate(130deg);
  transition: transform 0.5s;
}
body .game-rules .intro .plus .two-transform {
  transform: translate(0px, -14px) rotate(45deg);
  transition: transform 0.5s;
}
@media only screen and (max-width: 568px) {
  body .game-rules .intro .plus .two-transform {
    transform: translate(0px, -8px) rotate(45deg);
  }
}
body .game-rules .game-instructions {
  height: 0;
  opacity: 0;
  transition: height 0.5s, opacity 0.5s;
}
body .game-rules .game-instructions p {
  display: none;
}
body .game-rules .game-instructions ul {
  display: none;
}
body .game-rules .show {
  height: 250px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  background-color: white;
  opacity: 0.5;
  transition: height 0.5s, opacity 0.5s;
}
body .game-rules .show p {
  display: unset;
}
body .game-rules .show ul {
  display: unset;
}
@media only screen and (max-width: 768px) {
  body .game-rules .show {
    height: 300px;
  }
}
@media only screen and (max-width: 568px) {
  body .game-rules .show {
    height: 450px;
  }
}
body .game-rules .show ul {
  padding: 1rem;
  margin: unset;
  padding-top: unset;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-60vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: #5EBE47;
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    border-color: #FEB81D;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: #5EBE47;
  }
}

/*# sourceMappingURL=styles.css.map */
